fonttools==4.51.0
igraph==0.11.6
kiwisolver==1.4.4
matplotlib==3.9.2
mkl_fft
mkl_random
mkl-service
networkx==3.3
numexpr==2.8.7
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pip
ply== 3.11
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.1
setuptools
sip==6.7.12
six==1.16.0
sortedcontainers==2.4.0
texttable==1.7.0
tomli==2.0.1
tornado==6.4.1
tqdm==4.66.5
tzdata==2023.3
unicodedata2==15.1.0
wheel==0.44.0
